<h1>Welcome, <%= @user.email %></h1>

<h2>Your Posts:</h2>
<% if @posts.any? %>
  <ul>
    <% @posts.each do |post| %>
      <li>
        <%= link_to post.title, post_path(post) %> | 
        <%= link_to 'Edit', edit_post_path(post) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>You have no posts yet.</p>
<% end %>